<div class="row">
    <table class="table">
        <thead>
            <tr>
                
                <th scope="col">
                    <span><img class="teamlogo" src="assets/teamlogos/hunters.png" alt="SDD Hunters "></span>
                </th>
                <th scope="col">
                    <span><img class="teamlogo" src="assets/teamlogos/triumph.png" alt="SDD Triumph "></span>
                </th>
                <th scope="col">
                    <span><img class="teamlogo" src="assets/teamlogos/fighters.png" alt="Doon Fighters "></span>
                </th>
                <th scope="col">
                    <span><img class="teamlogo" src="assets/teamlogos/lions.png" alt="SDD Lions"></span>
                </th>
                <th scope="col">
                    <span><img class="teamlogo" src="assets/teamlogos/stricker.png" alt="SDD Strikers"></span>
                </th>
                <th scope="col">
                    <span><img class="teamlogo" src="assets/teamlogos/ebullient.png" alt="SDD Ebullient"></span>
                </th>
            </tr>
            <tr>
             
                <td><b>Credits avail:</b> 40000</td>
                <td><b>Credits avail:</b> 40000</td>
                <td><b>Credits avail:</b> 40000</td>
                <td><b>Credits avail:</b> 40000</td>
                <td><b>Credits avail:</b> 40000</td>
                <td><b>Credits avail:</b> 40000</td>
            </tr>
            <tr>
                
                <td><b>Credits remain:</b> 40000</td>
                <td><b>Credits remain:</b> 40000</td>
                <td><b>Credits remain:</b> 40000</td>
                <td><b>Credits remain:</b> 40000</td>
                <td><b>Credits remain:</b> 40000</td>
                <td><b>Credits remain:</b> 40000</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                
                <td class="hunters">Avinash Kumar Raikwa</td>
                <td class="triumph">Avinash Kumar Raikwa</td>
                <td class="fighters">Avinash Kumar Raikwa</td>
                <td class="lions">Avinash Kumar Raikwa</td>
                <td class="strikers">Avinash Kumar Raikwa</td>
                <td class="ebullient">Avinash Kumar Raikwa</td>
            </tr>
            <tr>
              
                <td class="hunters">Avinash Kumar Raikwa</td>
                <td class="triumph">Avinash Kumar Raikwa</td>
                <td class="fighters">Avinash Kumar Raikwa</td>
                <td class="lions">Avinash Kumar Raikwa</td>
                <td class="strikers">Avinash Kumar Raikwa</td>
                <td class="ebullient">Avinash Kumar Raikwa</td>
            </tr>

        </tbody>
    </table>
</div>